.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper input {
    padding-right: 2.5rem;
}

.toggle-password {
    position: absolute;
    right: 0.6rem;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    line-height: 1;
}

.toggle-password:hover {
    opacity: 0.8;
}

.ng-invalid.ng-touched {
    border-color: lightcoral;
}

.ng-valid.ng-untouched {
    border-color: lightgreen;
}